:root {
  --ion-background-color: #ffffff;
  --ion-color-light: #ffffff;
  --ion-color-dark: #000000;
  --ion-text-color: #000000;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;
  /* blancos y grises de fondo */
  --bg-base:       #ffffff;
  --bg-card:       #fafbfd;
  --text-base:     #222222;
  --shadow-light:  rgba(0,0,0,0.1);

  /* tu color primario */
  --primary-start: #21989f;
  --primary-end:   #227c89;
  --primary-text:  #ffffff;
}

/* 1) Quitar todo scroll fuera de los IonContent */
html,
body,
ion-app,
ion-router-outlet,
ion-page {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

/* 2) Restaurar el scroll dentro de tus IonContent */
ion-content {
  --overflow: auto;
}

/* 3) Asegurar que los menús también usen sólo su propio scroll */
ion-menu,
ion-menu .menu-inner {
  --overflow: auto;
}

/* 4) Placeholders */
input::placeholder,
textarea::placeholder {
  color: #666;
  opacity: 1;
}

/* modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-base:       #121212;
    --bg-card:       #1e1e1e;
    --text-base:     #e0e0e0;
    --shadow-light:  rgba(0,0,0,0.6);

    --primary-start: #1e585c;
    --primary-end:   #1b4f54;
    --primary-text:  #f0f0f0;
  }
}